/*tags*/
html, body, #page {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

#header {
    margin:0;
    padding:0;
    height:20px;
    background-color:green;
}

a {
    color: #000000;
    text-decoration: none;

}


a:hover {
    color: rgb(87, 87, 98);

}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #FBF3EA;
    color: #1E1E1E;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
}

footer {
    background-color: #424638;
    color: aliceblue;
    font-size: 1em;
    padding: 1.11em 0;
    

}


/*classes*/


.blog-post .subtitle {
    margin-top: 2em;

}

.blog-post .image {
    margin: 2em 0;

}

.blog-post .summary {
    padding-left: 40px;
}

.blogpost .summary li {
    margin-top: 1rem;

}

.rounded-image img {
    display: block;
    width: 100%;
    border-radius: 8px;

}

.blog-post .category {
    text-transform: uppercase;
}

.blog-post .title {
    text-transform: capitalize;
}

.blog-post header {

    text-align: center;
    padding: none;

}

.button {
    background-color: rgb(152, 183, 173);
    padding: .5em .75em;
    border: none;
    border-radius: .25em;
}

.button:hover {
    background-color: rgb(118, 136, 118);
    color: #fff;
}

.navbar {
    border-bottom: 1px solid ;
    background-color:  #665B4A;
    padding: none;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
}

.element {
    background-color: #0001;
    }
    .element:hover {
    background-color: #000F;
    }   
.nav-item {
    padding: .5em;
    margin: 0 .5em;
    background-color: #D9D9D9;
    border-radius: .25em;
}




.button1{
    background-color: #FBF3EA;
    padding: .5em .75em;
    border: none;
    border-radius: .25em;
}
.button1:hover {
    background-color: #E3D7C9;
    color: #fff;
}



.gallary-style {
    display: block;
    width: 100%;
}

.style-img {
    display: block;
    width: 100%;
    width: 100%;

}




/*css for form*/


.contact-form label,
.contact-form input,
.contact-form select,
.contact-form textarea
{
display: block;
width: 100%;
font-family: sans-serif, Times, serif;
font-size: 2rem;
display: block;
color: #1E1E1E;
}
.contaact-form label{
    margin-bottom:0.5em;
    
}
.contaact-form input,
.contaact-form select,
.contaact-form textarea
{
    border: 1px solid rgb(144, 116, 66);
    border-radius: .25rem;
}

.contact-form :invalid{
    border-color: rgb(144, 116, 66);
    color: rgb(144, 116, 66);
}

.contaact-form :invalid::placeholder{
    color: rgb(144, 116, 66);
}
.contact-form button{
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    padding: .5em;
}
.contact-form button.clear{
background-color:#665B4A;

}

.contact-form button.clear:hover{
background-color:#473f33;

}
.contact-details hr{
    border: none;
    border-top: 1px solid #473f33 ;
}
.contact-details h3{
    margin-top: 1em;
}
.contact-details p{
    margin: .5em;
}
.contact-form-adjust{
    margin-left: 18rem;
}
.contact-spacing{
    padding-bottom: .5rem;
    padding-top: .5rem;
}
.contact-text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 200px;
    display: block;
    color: #1E1E1E;
    padding: 0;
    margin: 0;
}


/*css for homepage specifically*/

.no-space, .no-space .row, .no-space .row [class*="col-"] {
    margin: 0;
    padding: 0;
}
.no-space .row .col-3{
    width: calc(3 / 12 * 100%);
}

.logo-position{
    align-items: center;
    display: flex;
    margin-left: 42.5%;
    margin-bottom: 5rem;
    margin-top: 5rem;

}
.homepage-text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 200px;
    display: block;
    color: #1E1E1E;
    padding: 0;
    margin: 0;
}
.no-space1, .no-space1 .row, .no-space1 .row [class*="col-"] {
    margin: 0;
    padding: 0;
}
.no-space1 .row .col-8{
    width: calc(8 / 12 * 100%);
}